[submodule "src/paf/communication"]
	path = src/paf/communication
	url = https://github.com/PCLabTools/PAF-Communication-Protocol.git
[submodule "src/paf/modules/standard_template"]
	path = src/paf/modules/standard_template
	url = git@github.com:PCLabTools/PAF-Module-Standard-Template.git
[submodule "src/paf/modules/factory_template"]
	path = src/paf/modules/factory_template
	url = https://github.com/PCLabTools/PAF-Module-Factory-Template.git
